<div ng-controller="SideBarCtrl">
  <div ng-show="recent">
    <h3>Recent</h3>
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="post in recent | orderBy:'created_at':true | limitTo:5 ">
        <a href="#!/{{ post.category || 'post' }}/{{ post._id }}" ng-bind-html="post.title"></a>
      </li>
    </ul>
  </div>
  <div ng-show="related">
    <h3>Related</h3>
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="post in related | orderBy:'created_at':true | limitTo:5 ">
        <a href="#!/{{ post.category || 'post' }}/{{ post._id }}" ng-bind-html="post.title"></a>
      </li>
    </ul>
  </div>
</div>
